.recorderBody{
  background-image: url('background.png');
  background-size: 100vw 300vh;
  background-repeat: no-repeat;
  background-position: center center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 20px;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-text {
  font-family: "baskerville-display-pt", serif;
  font-weight: 900;
  font-style: italic;
  color: #517939;
  margin-right: 20px;
}


.scroll-container {
  width: 100vw ;
  height: 50px;
  overflow: hidden;
  display: flex;
  margin: auto;
  z-index: 1;
  position: fixed;
  bottom: 0;
  background-color: #f1b643;
  border-top: 2px solid #204f7f;
  transform: translateX(-8px);
  color: #204f7f;
}

li {
	list-style: none;
}

.scroll-text {
  white-space: nowrap;
  animation: scrollText 33s infinite linear;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  position: absolute;
  font-family: "baskerville-display-pt", serif;
  font-weight: 900;
  font-style: italic;
}

@keyframes scrollText {
  from   { transform: translateX(0%); }
  to { transform: translateX(-50%); }
}

.recorderDiv{
  background-image: url('recorder_background.png');
  background-size: 430px 530px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border: transparent;
  height: 540px;
  width: 440px;
  margin: 0 auto;
  padding-top: 50px;
}

.titleDiv{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-right: 40px auto;
  margin-left: 40px auto;
  margin-bottom: 30px;
}

.gifAndSamples {
  width: 100%;
  overflow: hidden;
}

.gif {
  float: left;
  width: 45%;
  border: solid;
  height: 150px;
  margin-left: 45px;
}

.samples {
  float: right;
  width: 30%;
  border: solid;
  height: 150px;
  margin-right: 45px;
  padding-left: 5px;
  font-size: 12px;
}

.buttons{
	justify-content: center;
	margin-right: 30px auto;
  	margin-left: 30px auto;
  	padding-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
  z-index: 100;
}

.buttons button{
  height: 60px;
  width: 110px;
  border-radius: 20px;
  font-family: "baskerville-display-pt", serif;
  font-weight: 900;
  font-style: italic;
  font-size: 15px;
  margin: -5px;
}

#myImg{
	width: 100%;
	height: 150px;
}


.slidecontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.slider {
  -webkit-appearance: none;
  border-radius: 10px;  
  background: #1c1e1a;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  width: 300px;
  height: 10px;
  border: 2px solid #151cb2;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 25px;
  border-radius: 45%; 
  border: 2px solid #5e0303;
  background: #61847c;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}



#input-text{
  display: block;
  width: 399px;
  height: 200px;
  margin: 0px auto;
  margin-bottom: 10px;
  font-size: 12px;
  border: 1px solid;
  font-family: Arial;
}
#input-text::placeholder {
  color: #999;
  font-size: 12px;
  font-family: Arial;
}
#save-button{
  display: block;
  width: 400px;
  margin: 0px auto;
  height: 40px;
  font-size: 16px;
  border: 1px solid;
  background-color: #FFFFFF;
}


.info{
  display: block;
  width: 399px;
  height: 200px;
  margin: 0px auto;
  margin-bottom: 10px;
  font-size: 12px;
  border: 1px solid;
  font-family: Arial;
  padding: 10px;
  text-align: center;
}
#tool-button{
  background-color: #afed9d;
}
#tool-button:hover{
  background-color: #6ba847;
}
#generator:hover{
  border-width: 5px;
}
audio::-webkit-media-controls-panel {
  background-color: #FFFFFF;
}
#tracks:hover{
  background-color: yellow;
}
#about:hover{
  color: blue;
  background-color: blue;
}
#ref, #ref:link, #ref:visited{
  text-decoration: none;
  color: red;
}
#ref:hover{
  color: pink;
}





